dependencies {
  implementation("io.lynx.notifications:core:0.1.0-alpha")
  implementation("io.lynx.notifications:fcm:0.1.0-alpha")
  implementation("io.lynx.notifications:android-runtime:0.1.0-alpha")
}
