<!-- Receiver for local notifications scheduled by LynxNotificationsModule -->
<receiver
    android:name="io.lynx.notifications.android.AndroidNotificationPublisherReceiver"
    android:exported="false" />
